.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.contact_container {
    margin: 10rem 5rem 25rem 5rem;
    background-color: rgb(201, 202, 208);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    border-radius: 1rem;
    /* position: absolute; */
}

.contact_aside {
    background-color: rgba(232, 235, 241, 0.998);
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}

.aside_img {
    width: 12rem;
    margin-bottom: 2rem;
}

.contact_aside h2 {
    text-align: left;
    margin-bottom: 1rem;
}

.contact_aside ul {
    list-style: none;
}

.contact_details li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.contact_details h5 {
    margin: 0.5rem;
    padding-bottom: 1rem;
}

.contact_socials {
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}

.contact_socials a {
    background-color: rgba(160, 166, 193, 0.785);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transition: var(--transition);
}

.contact_socials a:hover {
    background: transparent;
}




/* =============== CONTACT FORM ==============*/
.contact_form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}

.form_name {
    display: flex;
    gap: 1.2rem;
}

.contact_form input[type="text"] {
    width: 50%;
}

input, textarea {
    width: 100%;
    padding: 1rem;
    color: #000;
    background: rgba(232, 235, 241, 0.998);
}

.contact_form .uk-btn-danger {
    background-color: rgb(54, 27, 27);
    width: max-content;
    margin-top: 1rem;
    cursor: pointer;
}


/* =========== Media quiries =========== */
@media screen and (max-width: 1024px) {
    .contact {
        padding-bottom: 0;
    }

    .contact_container {
        gap: 1.5rem;
        margin-top: 6rem;
        height: auto;
        padding: 1.5rem;
    }
    
    .contact_aside {
        width: auto;
        padding: 1.5rem;
        bottom: 0;
    }
    
    .contact_form {
        align-self: center;
        margin-right: 1.5rem;
    }
}


/* =========== Media quiries =========== */
@media screen and (max-width: 600px) {
    .contact_container {
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }

    .contact_form {
        margin: 0 1.5rem 3rem;
    }

    .form_name {
        flex-direction: column;
    }

    .form_name input[type="text"] {
        width: 100%;
    }
}
